@import url(https://db.onlinewebfonts.com/c/07cb29fdcb073fff840edc6de2067b50?family=Amsterdam+Four_ttf);

.homepageName {
  color: #ffffff;
  font-family: "Amsterdam Four_ttf";
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  text-align: center;
  z-index: 5;
}

.wipe-animation {
  animation: wipe-text 4s forwards;
  z-index: 5;
}

@keyframes wipe-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
@media (max-width: 768px) {
  .homepageName {
    font-size: 1rem;
  }
}
