.navbarContainer {
  position: fixed;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 10;
}
.navList {
  display: flex;
  list-style: none;
}
.navList a {
  color: white;
  text-decoration: none;
  margin: 0 2rem;
  font-size: 1.2rem;
  filter: drop-shadow(-2px 1px 1px black);
  background: linear-gradient(to right, #000046, #1cb5e0);
  padding: 10px;
  border-radius: 10% 50%;
  transition: all 0.3s ease;
}
.navList a:hover {
  border-radius: 50% 10%;
}
.logoContainer img {
  transition: all 1s ease-out;
  margin: 1rem;
}
.logoContainer img:hover {
  transform: rotate(360deg);
}
