.projectGalleryContainer {
  background-color: #1e1e1e;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 2px -2px 50px -6px #000000;
  max-width: 1000px;
  margin: 40px auto;
  font-family: "BioRhyme", "Arial", sans-serif;
  color: #d1d1d1;
  line-height: 1.8;
  margin-top: 7rem;
}
.projectGalleryContainer h1 {
  font-size: 3em;
}
.projectGalleryContainer h1,
h2 {
  color: #e67e22;
  text-align: center;
}
.projectGalleryContainer h3 {
  color: #000000;
  text-align: center;
}
.galleryLists {
  list-style: none;
}
.galleryItem {
  background-color: #d1d1d1;
  border-radius: 20px;
  margin: 20px 0;
}
.mediaContainer.hide {
  display: flex;
  flex-wrap: wrap;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.7s ease-in-out;
}
.mediaContainer.show {
  display: flex;
  flex-wrap: wrap;
  max-height: 5000px;
  transition: all 0.7s ease-in-out;
}
.video {
  height: 200px;
  border-radius: 20px;
  margin: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.video.expanded {
  position: fixed;
  height: 550px;
  top: 10%;
  left: 10%;
  z-index: 100;
}
.galleryHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  cursor: pointer;
  font-size: 1.2rem;
}
.galleryHeading i {
  color: #e67e22;
  font-size: 2rem;
  transition: all 0.3s ease-out;
}
.flipIcon {
  transform: rotate(-180deg);
}

@media (max-width: 768px) {
  .projectGalleryContainer {
    padding: 20px;
    margin: 7rem 20px 40px;
    line-height: 1.8;
    font-size: 10px;
  }

  .projectGalleryContainer h2 {
    font-size: 1rem;
  }
  .video {
    height: 60px;
    border-radius: 10px;
    margin: 10px;
    transition: all 0.3s ease-in-out;
  }
  .galleryItem {
    border-radius: 10px;
    margin: 10px 0;
  }

  .galleryHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
  }
  .video.expanded {
    height: 150px;
  }

  .galleryHeading i {
    font-size: 1.5rem;
  }
}
