.projectGalleryContainer {
  background-color: #1e1e1e;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 2px -2px 50px -6px #000000;
  max-width: 1000px;
  margin: 8rem auto 40px;
  font-family: "BioRhyme", Arial, sans-serif;
  color: #d1d1d1;
  text-align: center;
}

.projectGalleryContainer h1 {
  font-size: 3rem;
  color: #e67e22;
  margin-bottom: 20px;
}

.galleryItem {
  background-color: #d1d1d1;
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.galleryItem {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 35%;
}
.galleryItem h2 {
  color: #e67e22;
  font-size: 2rem;
}

.swiper-container {
  padding-bottom: 3rem;
  position: relative;
}

.swiper-slide {
  width: 35rem;
  border-radius: 2rem;
  position: relative;
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.swiper-slide-prev,
.swiper-slide-next {
  filter: blur(5px);
}

.slider-controler {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.slider-controler .slider-arrow {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #919191;
  border-radius: 50%;
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  border-radius: 50%;
  color: #e67e22;
}
.slider-controler .slider-arrow:hover {
  filter: drop-shadow(1px 1px 3px #5c5c5c);
}

.slider-controler .slider-arrow:active {
  filter: drop-shadow(inset 1px 1px 3px #5c5c5c);
  box-shadow: inset -3px -3px 5px #5c5c5c;
}
.slider-controler .slider-arrow::after {
  content: "";
}

.swiper-pagination {
  height: 100%;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #e67e22;
}

.videoSlide {
  text-align: center;
  margin-bottom: 2rem;
}

.videoSlide h3 {
  color: #000;
  font-size: 1.4rem;
}

.video {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .projectGalleryContainer {
    padding: 30px;
    margin: 5rem 20px;
  }

  .projectGalleryContainer h1 {
    font-size: 1.8rem;
    margin: 10px;
  }

  .galleryItem {
    padding: 15px;
    margin: 15px auto;
  }

  .galleryItem h2 {
    font-size: 1.2rem;
    margin: 0;
  }

  .swiper-container {
    padding-bottom: 2rem;
  }

  .swiper-slide {
    width: 80%;
    border-radius: 1.5rem;
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    filter: blur(3px);
  }

  .slider-controler {
    width: 70%;
  }

  .slider-controler .slider-arrow {
    width: 2rem;
    height: 2rem;
  }
  .swiper-pagination {
    height: 0.75rem;
  }
  .slider-controler .slider-arrow ion-icon {
    font-size: 1.5rem;
  }

  .videoSlide h3 {
    font-size: 1rem;
    margin: 5px;
  }

  .video {
    width: 100%;
    max-width: 100%;
  }
}
