@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&display=swap");
@font-face {
  font-family: 'Amsterdam Four';
  src: url('/fonts/AmsterdamFour.woff2') format('woff2'),
       url('/fonts/AmsterdamFour.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  padding: 0;
  margin: 0;
  background-color: #dfe6f6;
}
