@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&display=swap");
@import url(https://db.onlinewebfonts.com/c/07cb29fdcb073fff840edc6de2067b50?family=Amsterdam+Four_ttf);

body {
  padding: 0;
  margin: 0;
  background-color: #dfe6f6;
}
