* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}
.sky {
  height: 100vh;
  width: 125%;
  overflow: hidden;
  background-color: black;
  background-image: radial-gradient(circle, #030330 0%, rgba(0, 0, 0, 1) 100%);
}
.star {
  position: absolute;
  transition: all 0.5s ease-out;
  pointer-events: none;
  user-select: none;
}

.size1 {
  width: 3px;
  height: 3px;
  animation: blinkStar 0.3s infinite alternate;
}

.size2 {
  width: 4px;
  height: 4px;
  animation: blinkStar 0.2s infinite alternate;
}

.size3 {
  width: 5px;
  height: 5px;
  animation: blinkStar 0.4s infinite alternate;
}

.size4 {
  width: 10px;
  height: 10px;
  animation: blinkStar 0.5s infinite alternate;
}

.size5 {
  width: 15px;
  height: 15px;
  animation: blinkStar 0.8s infinite alternate;
}

@keyframes blinkStar {
  0%,
  100% {
    filter: drop-shadow(0px 0px 2px #00ccff);
  }
  50% {
    filter: none;
  }
}

@media (max-width: 768px) {
  .sky {
    height: 50vh;
    width: 125%;
    background-size: cover;
  }
}
